div {
  margin: 8px;
  border-radius: 10px;
}

body {
  background-color: #ddd;
  font-family: Arial;
  font-size: 16px;
  color: #223254;
}

input[type="text"] {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  width: 300px;
}

input[type="button"] {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
  margin: 10px;
}

input[type="button"]:hover {
  background: linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
  background-color: #f6f6f6;
}

input[type="button"]:active {
  position: relative;
  top: 1px;
}

.switch-to-info-section {
  background: linear-gradient(to bottom, #6e6d6d 5%, #413f3f 100%) !important;
  color: #f0ecec !important;
}
