.home {
  margin: 0 auto;
  margin-top: 40vh;
  animation: anim 2s;
}

.prompt {
  display: block !important;
  margin: 0 auto !important;
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation {
  animation: anim 2s;
}
